/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #942d04;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
header {
    background: #000000;
    color: #fff;
    padding: 20px 0;
}

header .logo h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Hero Section */
.hero {
    background: url('') no-repeat center center/cover;
    color: #fff;
    padding: 150px 0;
    text-align: center;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #fffffff3;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}


.search-bar
{
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}
.search-bar input {
    padding: 15px 20px; 
    width: 400px; 
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 1.2rem; 
}

.search-bar button {
    padding: 15px 30px; 
    border: none;
    background: #ff6f61;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 1.2rem; 
}


.categories {
    padding: 50px 0;
    text-align: center;
}

.categories h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.category-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category-card {
    width: 200px;
    margin: 10px;
}

.category-card img {
    max-width: 100%;
    border-radius: 10px;
}

.category-card h3 {
    font-size: 1.5rem;
    margin-top: 10px;
}

/* Featured Recipes Section */
.featured-recipes {
    padding: 50px 0;
    text-align: center;
}

.featured-recipes h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.recipe-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.recipe-card {
    background: #f4f4f4;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.recipe-card img {
    max-width: 100%;
    border-radius: 10px;
}

.recipe-card h3 {
    font-size: 1.8rem;
    margin: 15px 0;
}

.recipe-card p {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.btn {
    background: #ff6f61;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Footer */
footer {
    background: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer .social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}